# Arquivos de log
logs
*.log

# Dependências
node_modules/

# Arquivos de build do Vite
dist
.vite/

# Arquivos de ambiente (NUNCA envie para o repositório)
.env
.env.local

# Caches de ferramentas e IDEs
.eslintcache
.vscode/
.idea/
*.tsbuildinfo
